<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Razorpay </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid payment information.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/paymentReceived}" method="get" th:object="${user}">
            <div><label> Enter your Name : <input type="text" name="name" required/> </label></div>
            <div><label> Enter your credit card details: <input type="number" name="card" required/> </label></div>
            <div><input type="submit" value="Make Payment"/></div>
        </form>
    </body>
</html>